a{
    color: rgba(0,0,0,0.87); 
    text-decoration: none;
    display: inline-block;
    margin: 12px;
    font-family: arial,sans-serif;
    font-size: small;
}
html { height: 100%}
body{
    height: 100%; 
    display: flex;
    flex-direction: column;
    margin:0;
}

.header-item:hover{
    text-decoration: underline;
    color: grey
}

.header{
    margin-top:14px;
    padding-right: 30px;
}

.google-account{
    font-weight: bold;
    color:white;
    display: flex;
    justify-content: center;
    margin-left: 8px;
    width: 65px;
    height: 30px;
    background-color: #4285f4;
    margin-top: 0;
    border-radius: 5%;
    flex-wrap: wrap;
    align-content: center;
}

.google-account--inner{
    justify-content: center;
}

.header{
    text-align: right;
    align-content: center;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    height: 30px;
}

.google-apps {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.line-cube{
    display: flex;
    align-content: space-between;
}

.cube{
    margin: 1px;
    justify-content: center;
    align-content: center;
    background-color: grey;
    width: 4px;
    height: 4px;
}

.header-item:hover
.line-cube > .cube{
    background-color: rgba(0,0,0,0.87);
}

.container-body{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.logo{
    width: 272px;
    padding-top: 109px;
}

.search-form{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 584px;
    height: 46px;
}

.search-form--icon-search{
    border-left: solid 1px rgba(195, 195, 195, 0.85);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.search-form--inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: solid 1px rgba(195, 195, 195, 0.85);
    border-bottom: solid 1px rgba(195, 195, 195, 0.85);
    width: 46px;
    height: 46px;
}

.search-form--icon-microfon{
    border-right: solid 1px rgba(195, 195, 195, 0.85);
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.search{
    padding-right: 20px;
    padding-left: 20px;
    width: 492px;
    height: 48px;
    border-top: solid 1px rgba(195, 195, 195, 0.85);
    border-bottom: solid 1px rgba(195, 195, 195, 0.85);
    border-left: 0;
    border-right: 0;    
    font: inherit;
    color: inherit;
    background-color: transparent;
    font: 16px arial,sans-serif;    
}

.search:focus {
    outline: -webkit-focus-ring-color none 0px;
}

.icon-search{
    padding: 0;
    background-image: url(iconSearch.png);
    margin-left: 15px;   
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

.icon-search:focus{
    outline: -webkit-focus-ring-color none 0px;
}

.microfon{
    padding: 0;
    background-image: url(micro.png);
    margin-right: 15px;   
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

.microfon:hover{
    background-image: url(microHover.png);
}

.block-buttons{
    display: flex;
    flex-direction: row;
    padding-top: 29px;
    height: 34px;
}

.button-buttons--inner{
    display: flex;
    justify-content: center;
    align-content: stretch;
    padding-left: 16px;
    padding-right: 12px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 14px;
    min-width: 100px;
    height: 34px;
    border-radius: 5px;
    border: solid #f2f2f2 1px;
    background-color: #f2f2f2;
    color: #5F6368;
}

.button-buttons--inner:hover{
    border: solid rgba(139, 139, 139, 0.85) 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.button-link{
    display: flex;
    align-items: center;
    margin: 0;
    font-family: arial,sans-serif;
    font-size: small;
    color: rgba(110, 110, 110, 0.85);
}

.button-link:hover{
    color: rgba(0,0,0,0.87);
}

.lang-choose{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.lang-choose--item{
    font-family: arial,sans-serif;
    font-size: small;
    padding: 5px;
    margin-top: 25px;
}

.change-lang{
    display: flex;
    align-items: center;
    color: #222;
}

.lg{
    margin: 0;
    margin-top: 25px;
    color: #1a0dab;
}

.lg:hover{
    text-decoration: underline;
}

.footer{
    display: flex;
    flex-direction: column;
    align-self:flex-end;
    margin-top: 100px;
    width: 100%;
    margin-top: auto;
}

.footer--inner{
    background: #f2f2f2;
    height: 40px;
    border-top: 1px solid #e4e4e4;
    font-family: arial,sans-serif;
}

.country{
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-left: 27px;
    text-align: left;
    color: rgba(0,0,0,.54);
}

.navigation{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation-item{
    font-size: 14px;
    color: rgba(0,0,0,.54);
}

.navigation-item:hover{
    text-decoration: underline;
}

.block--navigation-items{
    margin-left:15px
}